@page

@using Microsoft.AspNetCore.Identity
@using WebApplication.Data.Entities


@model WebApplication.Pages.Post.DetailsModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User) && Int32.Parse(UserManager.GetUserId(User)) == Model.Post.UserId)
{
    <div class="card">
        <img class="card-img" src="~/Images/MEMES/@(Model.Post.Id).jpg" />
        <div class="card-body">
            @Model.Post.User
            <vc:user user="@Model.Post.User"></vc:user>
        </div>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Post.Id">Edit</a> |
        <a asp-page="./Delete" asp-route-id="@Model.Post.Id">Delete</a> |
        <a asp-page="./Index">Back</a>
    </div>
}
<a>You are not logged in or this is not your post.</a>
<a asp-page="./Index">Back</a>



