@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">

<body>
    <a class="nav-link text-info" asp-area="" asp-page="/Post/Index">Posts</a>
</body>
</html>

