@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card-columns">
    @foreach (var post in Model.Posts)
    {
    <div class="card text-white bg-dark">
        <a class="text-danger" asp-page="Details" asp-route-id="@post.Id">
            <h5 class="card-header">@post.Title</h5>
        </a>
        <a class="text-danger" asp-page="Profil" asp-route-id="@post.UserId">
            <h5 class="card-header">@post.User</h5>
        </a>
        <img class="card-img-top" src="~/Images/Uploads/@post.ImageName" />
    </div>
    }
</div>