@page
@model WebApplication.NewModel
@{
    ViewData["Title"] = "New";
}

    <div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <h1 class="font-weight-light">New</h1>
                <p class="lead">Memes</p>
                <div style="height: 700px"></div>
                <p class="lead mb-0">End!</p>
            </div>
        </div>
    </div>