@page
@model WebApplication.Pages.Post.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="card-columns w-100">
    @foreach (var item in Model.Post)
    {

    <div class="card w-100">
        <a asp-page="./Details" asp-route-id="@item.Id">
            <img class="card-img-top" src="~/Images/@item.ImageName" />
        </a>
        <div class="card-body">

            <div class="card-title">
                <a>@item.User</a>
            </div>
            <div class="card-text">
                <a>@item.Title</a>
            </div>
        </div>
        <div class="card-footer">
            
        </div>
    </div>
    }
</div>


